<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse hite ">
        <ul class="navbar-nav me-auto h3 mb-2 ">
            
        </ul>
        <span class="navbar-text">
          Welcome in our Web-Site
        </span>
      </div>
    </div>
  </nav> -->

<div className="content">
  <h1>My Portfolio</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/Our-Services">Our-Services</a></li>
      <li><a href="/Contact-Us">Contact-Us</a></li>
    </ul>
  </nav>
</div>
