<section id="work" class="content">
  <div>
    <h3>This the languages and frameworks i working with :</h3>
  </div>
  <div class="element-grid">
    <article>
      <a href="https://en.wikipedia.org/wiki/HTML5" target="blank"
        ><img src="/images/html5.png" alt="HTML Logo"
      /></a>
      <p>HTML is the standard markup language for creating Web pages.</p>
    </article>

    <article>
      <a href="https://en.wikipedia.org/wiki/CSS" target="blank"
        ><img src="/images/css3.png" alt="CSS Logo"
      /></a>
      <p>CSS is the language we use to style an HTML document.</p>
    </article>

    <article>
      <a href="https://en.wikipedia.org/wiki/JavaScript" target="blank"
        ><img src="/images/js.png" alt="JS Logo"
      /></a>
      <p>JavaScript is the programming language of the Web.</p>
    </article>

    <article>
      <a
        href="https://en.wikipedia.org/wiki/React_(web_framework)"
        target="blank"
        ><img src="/images/react.png" alt="JS Logo"
      /></a>
      <p>
        React is an open-source, front end, JavaScript library for building user
        interfaces or UI components.
      </p>
    </article>

    <article>
      <a href="https://en.wikipedia.org/wiki/MongoDB" target="blank"
        ><img src="/images/mongodb.png" alt="JS Logo"
      /></a>
      <p>MongoDB is a cross-platform document-oriented database program.</p>
    </article>

    <article>
      <a href="https://en.wikipedia.org/wiki/NoSQL" target="blank"
        ><img src="/images/nosql.png" alt="JS Logo"
      /></a>
      <p>
        A NoSQL database provides a mechanism for storage and retrieval of data
        that is modeled in means other than the tabular relations used in
        relational databases.
      </p>
    </article>
  </div>
</section>
